<div id="<%= dom_id booking %>">
  <p>
    <strong>Date:</strong>
    <%= booking.date %>
  </p>

  <p>
    <strong>User:</strong>
    <%= booking.user_id %>
  </p>

  <p>
    <strong>Listing:</strong>
    <%= booking.listing_id %>
  </p>

</div>
