<h1>New booking</h1>

<%= render "form", booking: @booking %>

<br>

<div>
  <%= link_to "Back to bookings", bookings_path %>
      <a href="javascript:history.back()"><span class="greyed-out">Back to Wedding Hall</span></a>
</div>
