.title {
  margin: 30px 0px;
}

.card-details {
    border-radius: 5px;
    display: flex;
    padding: 0px 20px;
    justify-content: space-between;
}

.card-description {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  padding: 0px 20px;
}

.cards-container {
  background-color: #f8f8f8;
  box-shadow: 0 0 1px;
  border-radius: 5px;
  border: solid black 0px;
  animation: ease-out;
  transition: 0.7s;

  &:hover {
    box-shadow: 0 0 10px;
    scale: 1.05;
    animation: ease;
    transition: 0.7s;
  }

  h3 {
    color: black;
    font-size: 18px;
  }

  p, a, i {
    color: rgba(0, 0, 0, 0.56);

  }
}

.image {
  object-fit: cover;
  aspect-ratio: 1/1;
  width: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.card-title {
  color: black;

}

.card-info {
  color: rgb(255, 255, 255);
  margin-bottom: 0px;
}

.card-price {
  color: black;
}

.space {
  padding: 3px 0px;
}

.hover-card {
  position: relative;
}

.hidden-text {
  color: antiquewhite;
  position: absolute;
  bottom: -10px;
  left: 15px;
  opacity: 0;
}

.image:hover + .hidden-text {
  opacity: 1;
  transition-duration: 1s;
}


.button-center-form {
  text-align: center;
}

.card-review {
  padding: 60px;
  padding-top: 40px;
  padding-left: 40px;
  box-sizing: 10px;
  margin-right: 300px;
  margin-left: 300px;
  margin-bottom: 25px;
}


.cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 12px;
  padding-left: 50px;
  padding-right: 50px;
}

.cards-container-review {
  background-color: #272727;
  box-shadow: 0 0 4px;
  border-radius: 5px;
  border:  solid 1px;
  animation: ease-out;
  transition: 0.7s;
}

// .color-gray {
//   color: $third;
// }

.extra-space-review {
  padding-bottom: 30px;
}
