.status-designing {
  color: #965E00;
  background-color: #FFECCC;
  text-align: center;
  padding: 8px 20px;
  border-radius: 50px;
  margin-bottom: 10px;

}

.status-completed {
  color: #007F00;
  background-color: #CDFFCD;
  text-align: center;
  padding: 8px 13px;
  border-radius: 50px;

  margin-bottom: 10px;
}

.status-declined {
  color: #FF1F1F;
  background-color: #FFA9A9;
  text-align: center;
  padding: 8px 20px;
  border-radius: 50px;

  margin-bottom: 10px;
}

.me-45px {
  margin-right: 45px !important;
}

.booking-date {
  margin-bottom: 10px;
}


.dashboard-icon {
  font-size: 1.5em;
}
.fa-square-check {
  color: #007F00;
}

.fa-circle-xmark {
  color: #FF1F1F;

}
